<form action='/bet' method='post'>
  How much you wanna bet this round? You currently have $<%=session[:player_money] %>.
  <br>
  <input type='number' name='bet'/>
  <br />
  <input type='submit' class='btn'/>
</form>